:root{
    --Calc-primary-color: #d7c3b1;
    --Calc-secondary-color: #d8aea4;
    --Calc-third-color:  #ecd5cf;
}
#mx_cl *, ::after, ::before {
    box-sizing: border-box;
}
#mx_cl {
    line-height: 1.5;
    font-family: 'Roboto';
}
#mx_cl .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4b4c4c;
    text-align: left;
    margin-top: 8rem;
}
#mx_cl label {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #4b4c4c;
    margin-bottom: 0.5rem;
}
#mx_cl .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
#mx_cl .col-md-12, #mx_cl .col-md-8, #mx_cl .col-md-6, #mx_cl .col-md-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
#mx_cl .form-group {
    margin-bottom: 1rem;
}
#mx_cl .form-control {
    display: block;
    width: 100%;
    height: calc(1em + 1rem + 2px);
    padding: 0.275rem 0.75rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #4b4c4c;
    border: 1px solid var(--Calc-third-color);
    background: #ffffff;
    border-radius: 0;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#mx_cl .form-control:focus {
    outline: none;
}
#mx_cl .text-center {
    text-align: center!important;
}
#mx_cl .cl-wrapper {
    background-color: #ffffff;
    padding: 2rem 2rem;
    border-radius: 0;
    margin-bottom: 3rem;
    border-top: 6px solid var(--Calc-primary-color);
    box-shadow: 0 0 10px #cbcbcb;
}
@media (min-width: 576px){
    #mx_cl .container {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    #mx_cl .container {
        max-width: 100%;
    }
    #mx_cl .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    #mx_cl .col-md-8 {
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    #mx_cl .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    #mx_cl .col-md-4 {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}
@media (min-width: 992px){
    #mx_cl .container {
        max-width: 600px;
    }
}
@media (min-width: 1200px) {
    #mx_cl .container {
        max-width: 600px;
    }
}
#mx_cl .form-group {
    position: relative;
    margin-bottom: 20px;
}
#mx_cl .rs-title {
    font-size: 18px;
    margin: 0;
    color: #4b4c4c;
}
#mx_cl .rs-value {
    font-weight: 600;
    font-size: 26px;
    margin: 0;
    margin-bottom: 8px;
    color: #3a4572;
}
#mx_cl .top-title-sec {
    text-align: center;
    margin-bottom: 1rem;
    border: 1px solid var(--Calc-primary-color);
    border-radius: 0;
    padding: 8px 10px;
}
#mx_cl .top-title {
    margin: 0;
    font-size: 20px;
    color: #4b4c4c;
}
#mx_cl .top-title-sec p {
    margin: 0;
    font-size: 14px;
    color: var(--Calc-secondary-color);
}
#mx_cl .sp-rs-sec {
    border: 1px solid #ECD5CF;
    border-radius: 0;
    padding: 26px;
}
#mx_cl .rs-sec {
    padding: 12px 0;
    text-align: center;
}
#mx_cl .sp-rs-sec .rs-value {
    margin-bottom: 5px;
    color: #4b4c4c;
    font-size: 2.5rem;
    line-height: 38px;
}
#mx_cl .sp-rs-sec .rs-title {
    color: #4b4c4c;
}
#mx_cl .form-group {
    position: relative;
}
#mx_cl .prepend-text {
    font-size: 16px;
    position: absolute;
    bottom: 4px;
    left: 5px;
    padding: 1px 5px;
    border-radius: 5px;
    color: #545454;
}
#mx_cl .append-text {
    font-size: 16px;
    position: absolute;
    bottom: 4px;
    right: 5px;
    padding: 1px 5px;
    border-radius: 5px;
    color: #545454;
}
#mx_cl .sp-pd-left {
    padding-left: 22px;
}
#mx_cl .sp-pd-right {
    padding-right: 22px;
}
#mx_cl .sp-pd-top {
    padding-top: 20px;
}
@media (max-width: 768px){
    #mx_cl .cl-wrapper {
        padding: 1.5rem 1.5rem;
    }
    #mx_cl .top-title {
        font-size: 22px;
    }
    #mx_cl .sp-rs-sec {
        margin-top: 2rem;
    }
}